<%= simple_form_for @order, url: watch_orders_path do |f| %>
	<span class="payment-errors"></span>

  <div class="form-row">
    <label>
      <span>Card Number</span>
     </label>
      <input type="text" size="20" data-stripe="number"/>
  </div>

  <div class="form-row">
    <label>
      <span>CVC</span>
      </label>
      <input type="text" size="4" data-stripe="cvc"/>
  </div>

  <div class="form-row">
    <label>
      <span>Expiration (MM/YYYY)</span>
    </label>
      <input type="text" size="2" data-stripe="exp-month"/>
    <span> / </span>
    <input type="text" size="4" data-stripe="exp-year"/>
  </div>

  <button type="submit">Submit Payment</button>
<% end %>