<section class="watches">
	<% @watches.each do |watch| %>
			<div class ="watch">
			
			<!-- Add in link to showpage -->
			<%= link_to watch_path(watch) do %>
				
				<!-- Add in image here -->
				<%= image_tag watch.image.url(:medium) %>

				<div class ="price">
					<!-- link this to new_orders -->
					<span><%= number_to_currency watch.price, unit: "£" %></span>
				</div>
				
				<h2><%= watch.name %></h2>

			<% end %>
		</div>

	<% end %>
</section>