# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b3acbb5d39273e62e963c84eff5f2b158cd360c008488ea09141c64c02071f60f6a68302e7e48d0ac9c646fa4c3d6e795bc65cf8f2aa68047c88391c8d8118ba

test:
  secret_key_base: b65e230e65fee498310d2aa84919696930b6815f6da2f0b8e84b26470e643db5d5435ddca46e7305e87823bc4494ff2a06dac58c5245f76690236512580f704d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
